#left_poll,
#center_poll,
#right_poll {
  height: 9px;
  float: left;
  margin: 0;
  padding: 0;
}

#left_poll,
#right_poll {
  width: 2px;
  background: red;
}

#center_poll {
  background: #b8e262;
}

#content {
  background-color: var(--background-color);
  position: relative;
  padding: 0 20px 20px;
  width: var(--container-width);
  margin: 0 auto;
  z-index: 2;

  ul,
  ol {
    margin: 0;
    padding: 0 0 0 25px;
  }

  .nobullet {
    list-style-type: none;
    padding-left: 0;
  }

  .poll {
    list-style: none;
    padding: 0;

    li {
      padding: 0 0 0 10px;
      margin: 0;
    }

    .graph {
      margin-top: 2px;
      margin-bottom: 3px;

      &::after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }

  .stats li {
    padding: 0 0 1px;
  }

  > .thin {
    width: 900px;
    margin: 0 auto;
    padding: 20px 0 0;

    > h2 {
      display: block;
      margin: 0 0 10px;
      padding: 10px 0;
      border-bottom: 1px solid var(--border-color);
    }
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.6em;
  }

  .filter_torrents > h3,
  .box .head {
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 5px 0 10px;
    border-bottom: 1px solid var(--border-color);
  }

  .pad img,
  .body img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .forum_post {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0;

    td {
      padding: 10px 15px;
    }

    .avatar {
      width: 20%;
    }

    .body {
      border-left: 1px solid var(--border-color);
      line-height: 1.8em;
      width: auto;
    }

    .postcontent {
      line-height: 1.6em;
      font-size: 1.1em;
    }

    .signature {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid var(--border-color);
    }
  }

  .sidebar {
    width: 30%;
    float: right;

    .box {
      padding-left: 20px;
    }

    #kb2 & {
      position: sticky;
      top: 110px;
    }
  }

  .main_column {
    width: 70%;
  }

  #images td {
    vertical-align: top;
  }

  #reseed_box {
    border: 1px solid var(--border-color);
    padding: 10px;

    .head {
      border-bottom: 0;
      padding: 0;
      margin: 0;
    }

    .pad {
      border-bottom: 0;
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  a.permission_1,.permission_1 {
    color: #F00;
  }

  a.permission_2,.permission_2 {
    color: #010101;
  }

  a.permission_3,.permission_3 {
    color: #3E3E84;
  }

  a.permission_4,.permission_4 {
    color: #4DD0FF;
  }

  a.permission_5,.permission_5 {
    color: #36C;
  }

  a.permission_6,.permission_6 {
    color: #DFB301;
  }

  a.permission_7,.permission_7 {
    color: #FF6;
  }

  a.permission_8,.permission_8 {
    color: #FE9A2E;
  }

  a.permission_9,.permission_9 {
    color: #9FF;
  }

  a.permission_10,.permission_10 {
    color: #FF6;
  }

  a.permission_11,.permission_11 {
    color: #0125DE;
  }

  a.permission_12,.permission_12 {
    color: #C00;
  }

  a.permission_13,.permission_13 {
    color: #966;
  }

  a.permission_14,.permission_14 {
    color: #F78181;
  }

  a.permission_15,.permission_15 {
    color: #CD0174;
  }

  a.permission_20,.permission_20 {
    color: #11D587;
  }

  a.permission_21,.permission_21 {
    color: #AEB404;
  }

  a.permission_22,.permission_22 {
    color: #909;
  }
}

#forums .linkbox {
  border-bottom: 1px solid var(--border-color);
}
